* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url("bg.jpg");

  /* Set a specific height */
  height: 100vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.spin{
  transition: all 1s ease;
  animation: spining 1s linear infinite;
  font-size: 16px;
}

@keyframes spining {
  from{transform: rotate(0deg);}
  to{transform: rotate(360deg);}
}

main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
}

/*=================*/
/* Glassmorphic design styles */
.credential-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 20px;
  width: 500px;
  box-shadow: 0 8px 32px 0 rgba(0,0,0, 0.37);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;

}

.tab {
  background-color: rgba(0,0,0, 0.15);
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px 10px 0 0;
  /* transition: all 0.3s ease; */
}

.tab.active {
  backdrop-filter: blur(16px);
}

.tab-content {
  display: none;
  backdrop-filter: blur(16px);
  border-radius: 15px;
  transition: all 0.5s ease-in-out;
}

.tab-content.active {
  display: block;
  animation: fadeIn 0.5s ease forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.tab-content h1{
  padding-top: 20px;
  color: #fff;
  text-align: center;
}

.tab-content form{
  width: 100%;
  backdrop-filter: none;
  border: none;
}

@media screen and (max-width: 768px) {
  .credential-container {
    width: 90%; /* Adjust width for smaller screens */
    padding: 15px; /* Adjust padding for smaller screens */
  }

  .tab {
    padding: 8px 16px; /* Adjust padding for smaller screens */
  }

  .tab-content h1 {
    padding-top: 15px; /* Adjust padding for smaller screens */
  }
}
/*=================*/
#nav-container,
#main-container{
    height: 100vh;
}
/*========================*/
/* Styling nav-container */
#nav-container {
  backdrop-filter: blur(15px) saturate(200%);
  -webkit-backdrop-filter: blur(15px) saturate(200%);
  background-color: rgba(38, 38, 38, 0.2);
  border: 1px solid rgba(209, 213, 219, 0.3); 
  margin-bottom: 20px;
  color: #fff;
  flex: 1;
  max-width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  position: relative;
}

#nav-container ul {
  list-style-type: none;
  padding: 0;
}

#nav-container ul li {
  cursor: pointer;
  padding: 10px;
  transition: all 0.3s ease;
  border: 1px solid rgba(209, 213, 219, 0.3); 
  display: flex;
  justify-content: center;
  align-items:center;
  font-size: 20px;
  margin-top: 10px;
  position: relative;
}

#nav-container ul li::after{
  content: attr(data-name);
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(0,-50%);
  z-index: 1;
  margin-left: 5px;
  font-size: 15px;
  background-color: rgba(0,0,0, 0.5);
  padding: 5px 10px;
  display: none;
  transition: all 0.3s ease;
  border-radius: 5px;
  width: 100%;
}

#nav-container ul li::before{
  content: "";
  position: absolute;
  top: 50%;
  right: -5px;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #fdfcfc transparent transparent;
  display: none;
  transition: all 0.3s ease;
}

#nav-container li:hover{
    background-color: #999;
}

#nav-container li:hover::after{
  display: block;
  animation: fadeIn 0.3s ease;
}

#nav-container li:hover::before{
  display: block;
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from{opacity: 0;}
  to{opacity: 1;}
}

#nav-container li.active{
  background-color: #E72929;
}

.toggle-container{
  display: none;
}

@media screen and (max-width: 768px) {
  #nav-container{
    /* display: none; */
    position: fixed;
    left: 0;
    top: 0;
    transform: translateX(-45px);
    transition: all 0.3s ease;
  }
  .toggle-container{
    position: absolute;
    right: -28px;
    padding: 8px;
    top: 50%;
    background-color: #E72929;
    transform: translateY(-50%);
    border-radius: 0 5px 5px 0;
    display: block;
  }
  .toggle-container i{
    transition: all 0.3s ease;
    font-size: 20px;
  }
}
/*=========================*/
/* Styling main-container */
#main-container {
  border-radius: 15px;
  color: #fff;
  flex: 6;
  overflow-y: auto;
}

/*=====================*/
.section-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    backdrop-filter: blur(15px) saturate(200%);
    -webkit-backdrop-filter: blur(15px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.header-contents, .date-time-container{
    display: flex;
    align-items: center;
}

.date-time-container .time-container{
  font-weight: bolder;
}

.date-time-container .date-container{
  font-size: 14px;
}

.thumbnail{
    padding: 10px;
    font-size: 30px;
}

/* Mobile styles */
@media screen and (max-width: 768px) {
  .section-header {
      padding: 15px;
  }

  .header-contents p{
    font-size: 12px;
  }

  .thumbnail {
      font-size: 24px; /* Decrease font size */
  }

  .date-time-container .date-container{
    font-size: 10px;
  }
}
/*========================*/
.welcome-container {
  position: relative;
  width: 100%;
  padding: 20px;
  background: rgba(0,0,0, 0.15); 
  backdrop-filter: blur(10px); 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
}

.welcome-container h2 {
  color: #fff; /* Text color */
  font-size: 24px;
  margin-bottom: 10px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); 
  padding: 10px;
}

.welcome-container h2 span {
  text-transform: capitalize;
}

.welcome-container p {
  color: #fff; /* Text color */
  font-size: 16px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); 
  padding: 0 10px;
}

/*======================*/
.monthly-analytics-container{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.monthly-analytics-container .column{
    backdrop-filter: blur(15px) saturate(200%);
    -webkit-backdrop-filter: blur(15px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.81);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 20px;
    text-align: center;
    flex: 1;
    width: 100%;
}

.column h1{
  font-size: 30px;
}

.column.remaining {
  background-color: rgba(0,0,0, 0.2);
  position: relative;
  overflow: hidden;
}

.column.remaining {
  backdrop-filter: blur(5px);
  position: relative;
  overflow: hidden; /* Ensure the ripple effect stays within the container */
}

.column.remaining::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 1px;
  height: 1px;
  background-color: rgb(114, 73, 172, 0.8);
  border-radius: 50%;
  -webkit-animation: ripple 1s linear infinite;
  animation: ripple 1s linear infinite;
  z-index: -1;
}

@-webkit-keyframes ripple {
0% {
  -webkit-box-shadow: 0 0 0 0 rgba(189, 142, 210, 0.3), 0 0 0 10px rgba(189, 142, 210, 0.3), 0 0 0 30px rgba(189, 142, 210, 0.3), 0 0 0 60px rgba(189, 142, 210, 0.3);
          box-shadow: 0 0 0 0 rgba(189, 142, 210, 0.3), 0 0 0 10px rgba(189, 142, 210, 0.3), 0 0 0 30px rgba(189, 142, 210, 0.3), 0 0 0 60px rgba(189, 142, 210, 0.3);
}
100% {
  -webkit-box-shadow: 0 0 0 10px rgba(189, 142, 210, 0.3), 0 0 0 30px rgba(189, 142, 210, 0.3), 0 0 0 60px rgba(189, 142, 210, 0.3), 0 0 0 90px rgba(189, 142, 210, 0);
          box-shadow: 0 0 0 10px rgba(189, 142, 210, 0.3), 0 0 0 30px rgba(189, 142, 210, 0.3), 0 0 0 60px rgba(189, 142, 210, 0.3), 0 0 0 90px rgba(189, 142, 210, 0);
}
}
@keyframes ripple {
0% {
  -webkit-box-shadow: 0 0 0 0 rgba(189, 142, 210, 0.3), 0 0 0 10px rgba(189, 142, 210, 0.3), 0 0 0 30px rgba(189, 142, 210, 0.3), 0 0 0 60px rgba(189, 142, 210, 0.3);
          box-shadow: 0 0 0 0 rgba(189, 142, 210, 0.3), 0 0 0 10px rgba(189, 142, 210, 0.3), 0 0 0 30px rgba(189, 142, 210, 0.3), 0 0 0 60px rgba(189, 142, 210, 0.3);
}
100% {
  -webkit-box-shadow: 0 0 0 10px rgba(189, 142, 210, 0.3), 0 0 0 30px rgba(189, 142, 210, 0.3), 0 0 0 60px rgba(189, 142, 210, 0.3), 0 0 0 90px rgba(189, 142, 210, 0);
          box-shadow: 0 0 0 10px rgba(189, 142, 210, 0.3), 0 0 0 30px rgba(189, 142, 210, 0.3), 0 0 0 60px rgba(189, 142, 210, 0.3), 0 0 0 90px rgba(189, 142, 210, 0);
}
} 




@media screen and (max-width: 768px) {
  .monthly-analytics-container{
    flex-direction: column;
  }
}
/*=========================*/
.montWise-tables-container,
.total-income-expense-container{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 10px;
  padding: 15px;
}

.table-container {
  margin-bottom: 20px;
  flex: 1;
  backdrop-filter: blur(15px) saturate(200%);
  -webkit-backdrop-filter: blur(15px) saturate(200%);
  background-color: rgba(17, 25, 40, 0.81);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 10px;
}

.table-container h2 {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  overflow: hidden;
  font-size: 12px;
}

.table-container th,
.table-container td {
  padding: 10px;
  text-align: left;
  color: #fff;
}

.table-container th {
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
}

.table-container tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.1);
}

.table-container tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.05);
}

.table-container td:last-child {
  text-align: right;
}

.chartContainer{
  width: 95%;
  margin: 0 auto;
}

.container-header {
  background: rgba(255, 255, 255, 0.2); /* Adjust the opacity as needed */
  backdrop-filter: blur(10px); /* Adjust the blur radius as needed */
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7); /* Adjust the text color as needed */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
  color: #fff;
  font-weight: bolder;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.chartContainer canvas{
  backdrop-filter: blur(15px) saturate(200%);
  -webkit-backdrop-filter: blur(15px) saturate(200%);
  background-color: rgba(17, 25, 40, 0.5);
  margin-bottom: 30px;
  padding: 5px;
}

/*=============================*/
.wallet-container{
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 15px;
  min-height: 220px;
  backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.wallet-container .method-container {
  flex: 3;
  width: 30%;
}

.wallet-container .balance-details-container {
  flex: 7;
  width: 70%;
}

.method-container ul{
  list-style: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

.method-container ul li{
  padding: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.method-container ul li:first-child{
  border-radius: 10px 10px 0 0;
}

.method-container ul li:last-child{
  border-radius: 0 0 10px 10px;
}

.method-container li:hover{
  background-color: #E72929;
}

.method-container li.active{
  background-color: #E72929;
}


.balance-card {
  position: relative;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  height: 200px;
  width: 500px;
  margin: 0 auto;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(209, 213, 219, 0.3);
  transition: all 0.5s ease;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.balance-card .front-face,
.balance-card .back-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.balance-card .front-face {
  z-index: 2;
}

.balance-card .back-face {
  transform: rotateY(180deg);
}

.balance-card.flipped {
  transform: rotateY(180deg);
  transition: transform 0.5s ease;
}

.balance-card.appear {
  animation: appear 0.5s ease-in;
}

@keyframes appear {
  from {
    transform: rotateY(0deg);
    opacity: 0;
  }
  to {
    transform: rotateY(360deg);
    opacity: 1;
  }
}


.balance-card::after,
.balance-card::before{
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  width: 10px;
  height: 100%;
  transform: skewX(-15deg); /* Rotate the pseudo-element */
  transform-origin: bottom left;
  z-index: -1;
}

.balance-card::after{
  left: 45%;
}

.balance-card h1 {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  font-size: 30px;
  font-weight: bolder;
  font-style: italic;
}

.balance-card img{
  width: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.balance-card p {
  font-size: 20px;
  margin: 5px 0;
  color: #999;
  position: absolute;
  padding: 15px;
}

.acc-numb{
  left: 0;
  bottom: 0;
}

.balance{
  right: 0;
  bottom: 0;
}

.balance-card .delete-button{
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  cursor: pointer;
}

.montWise-tables-container{
  width: 100%;
}

.control-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10px;
  padding: 15px;
  background-color: rgba(0,0,0, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  color: #fff;
}

.control-header button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: #fff;
}

.control-header button:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.control-header button:active {
  transform: translateY(4px);
  box-shadow: 0 4px 20px rgba(31, 38, 135, 0.37);
}

.control-header button:first-child {
  margin-right: 10px; /* Adjust spacing between buttons */
}

.warning-message-container {
  min-height: 35vh;
  background-color: rgba(0, 0, 0,0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Media query for mobile screens */
@media screen and (max-width: 768px) {
  .wallet-container{
    flex-direction: column;
  }

  .wallet-container .method-container,
  .wallet-container .balance-details-container{
    width: 100%;
    flex: 1;
  }

  .wallet-container .balance-details-container .balance-card{
    height: 200px;
    width: 100%;
  }
}
/*===============================*/
.input-contents{
  margin: 15px;
  padding: 15px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.input-contents {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.input-list-container {
  flex: 1;
  margin-right: 20px;
  height: 100%;
  
}

.form-container {
  flex: 3;
}

.input-list-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  min-height: 50vh;
  border-right: 1px solid rgba(255, 255, 255, 0.8);
  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}

.input-list-container ul li {
  cursor: pointer;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(0,0,0, 0.512);
  margin-bottom: 15px;
  transition: all 0.3s ease;
  text-align: center;
}

.input-list-container ul li:hover {
 
  border: 1px solid #ffffff4d;
}

.input-list-container ul li.active {
  background-color: #E72929;
  color: #fff;
}


/* Form styling */

.form-container h1{
  text-align: center;
  padding: 5px 15px;
  
}

form {
  backdrop-filter: blur(16px);

  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);

  padding: 20px;
  width: 60%;
  margin: 0 auto;
}

.input-group {
  margin-bottom: 20px;
}

/* Input field styling */
.input-group input,
.input-group select {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #fff;
  font-size: 16px;
  outline: none;
}

.input-group select option {
  color: #333;
}
/* Selected option */
select option:checked {
  background-color: #E72929;
  color: #fff;
}

/* Label styling */
.input-group label {
  display: block;
  margin-bottom: 5px;
  color: #fff;
  font-weight: bold;
}

/* Submit button styling */
button[type="submit"] {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background-color: #E72929;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #E72929;
}

/* Media query for mobile screens */
@media screen and (max-width: 768px) {
  .input-contents {
    flex-direction: column;
    padding: 10px;
  }

  .input-list-container {
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%;
  }

  .input-list-container ul {
    min-height: auto;
    border-right: none;
  }

  .input-list-container ul li {
    padding: 15px;
    margin-bottom: 10px;
  }

  .form-container,
  .form-container form{
    width: 100%;
  }
}

/*=================*/
section.toDo-container {
  width: 100%;
  color: white;
}

.tasks-content {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  padding: 20px;
}

.tasks-container .no-task-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 160px;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  padding: 10px;
}

.todaysTask-container,
.previous-tasks-container{
  margin-bottom: 30px;
}
/* CSS for scrollbar */
.task-card .body::-webkit-scrollbar,
.tasks-container::-webkit-scrollbar {
    width: 5px; /* Set the width of the scrollbar */
    background-color: transparent; /* Transparent background */
}

/* CSS for scrollbar track */
.task-card .body::-webkit-scrollbar-track,
.tasks-container::-webkit-scrollbar-track {
    background-color: transparent; /* Transparent background for scrollbar track */
}

/* CSS for scrollbar thumb */
.task-card .body::-webkit-scrollbar-thumb,
.tasks-container::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent white for scrollbar thumb */
    border-radius: 10px; /* Rounded corners for scrollbar thumb */
}

/* CSS for scrollbar thumb hover effect */
.task-card .body::-webkit-scrollbar-thumb:hover,
.tasks-container::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.5); /* Lighter color on hover */
}

.action-tasks-container{
  flex: 2;
  width: 100%;
}

.upcoming-task-container{
  flex: 1;
  max-width: 400px;
  max-height: 90vh;
  border-left: 1px solid rgba(255, 255, 255, 0.8);
  padding: 0 10px;
}

.todaysTask-container h2:not(.tasks-container h2),
.previous-tasks-container h2:not(.tasks-container h2),
.upcoming-task-container h2:not(.tasks-container h2) {
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}


.upcoming-task-container .tasks-container {
  max-height: 75vh;
  box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.1), inset 0 -10px 10px -10px rgba(0, 0, 0, 0.1);
}

.upcoming-task-container .task-card{
  width: 100%;
  max-width: none;
}

.tasks-container{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px 5px;
  min-height: 30vh;
  max-height: 60vh;
  overflow-y: auto;
}
/* CSS for task card */
.task-card {
  position: relative;
  width: 100%; 
  max-width: 320px;
  margin: 0px;
  padding: 20px;
  background: rgba(0,0,0, 0.15); 
  border-radius: 20px;
  backdrop-filter: blur(10px); 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: all 0.3s ease;
  animation: card 0.3s ease-in;
}

@keyframes card {
  from{opacity: 0;}
  to{opacity: 1;}
}

/* CSS for task card header */
.task-card .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

/* CSS for header title */
.task-card .header .header-title h3 {
  margin: 0;
  font-size: 18px;
  text-transform: capitalize;
}

/* CSS for header title date */
.task-card .header .header-title p {
  margin: 0;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7); /* Lighter text color */
}

/* CSS for close button */
.task-card .header .close-btn {
  border: none;
  background: none;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5); /* Semi-transparent white */
  font-size: 18px;
}

/* CSS for close button hover effect */
.task-card .header .close-btn:hover {
  color: rgba(255, 255, 255, 0.8); /* Lighter color on hover */
}

/* CSS for task card body */
.task-card .body{
  height: 60px;
  overflow-y: auto;
}
.task-card .body p {
  margin: 0;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8); /* Lighter text color */
  text-align: justify;
}

/* CSS for task card footer */
.task-card .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

/* CSS for status container */
.task-card .footer .status-container {
  display: flex;
  align-items: center;
  position: relative;
}

.task-card .footer .status-container::before {
  content: attr(data-update);
  position: absolute;
  left: 0;
  bottom: 0px;
  transform: translate(0, 0);
  font-size: 9px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 5px;
  width: 150px;
  border-radius: 5px;
  z-index: 1;
  display: none;
  transition: all 0.3s ease;
}

.task-card .footer .status-container:hover::before{
  display: block;
  transform: translate(0, 25px);
}

/* CSS for status icon */
.task-card .footer .status-container span {
  font-size: 15px;
  margin-right: 5px;
}

/* CSS for status text */
.task-card .footer .status-container p {
  margin: 0;
  font-size: 10px;
}

/* Unique CSS for status container with glassmorphic design */
.task-card .footer .status-container {
  background: rgba(255, 255, 255, 0.1); /* Semi-transparent white background */
  padding: 2px 8px;
  font-size: 8px;
  border-radius: 12px;
  backdrop-filter: blur(5px); /* Apply blur effect */
}

/* CSS for button container */
.task-card .footer .button-container button {
  padding: 8px 16px;
  border: none;
  background-color: #E72929; /* Green color for button */
  color: white;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  min-width: 50px;
}

/* CSS for button container hover effect */
.task-card .footer .button-container button:hover {
  background-color: #fb3d3d; /* Darker green color on hover */
}

.new-task-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  margin: 20px; 
}

.new-task-container span {
  width: 50px;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  background-color: #E72929; 
  padding: 10px 12px; 
  border-radius: 50%; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
  cursor: pointer;
  color: #fff;
  transition: all 0.5s ease;
  transform: rotate(0deg);
  position: relative;
}

.new-task-container::before{
  content: attr(toggle-name);
  position: absolute;
  top: 50%;
  right: 100%;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  font-size: 15px;
  width: 0px;
  transform: translate(20px, -50%);
  border-radius: 5px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: clip; 
  transition: all 0.5s ease;
}

.new-task-container::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; 
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #333;
  transition: all 0.5s ease;
  transform: translate(40px, 0%);
  z-index: -1;
}

.new-task-container:hover::before{
  width: 65px;
  transform: translate(-8px, -50%);
}

.new-task-container:hover::after{
  transform: translate(1px, 0%);
}

.new-task-container span:hover{
  transform: rotate(90deg);
}

.modal-body.task-body{
  padding: 0;
}

.task-body form{
  width: 100%;
}

.modal-body form textarea{
  background-color: transparent;
  width: 100%;
  min-height: 100px;
  border-radius: 10px;
  color: #fff;
  padding: 10px;
}

/* Style the calendar picker indicator */
.input-group input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.1); 
  border-radius: 50%; 
  width: 24px; 
  height: 24px; 
  margin-left: 5px; 
  cursor: pointer; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

/* Style the calendar picker indicator on hover */
.input-group input[type="datetime-local"]::-webkit-calendar-picker-indicator:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

/* Style the calendar picker indicator on focus */
.input-group input[type="datetime-local"]:focus::-webkit-calendar-picker-indicator {
  outline: none; 
}

@media screen and (max-width: 768px) {
  .tasks-content{
    flex-direction: column;
    padding: 10px;
  }

  .upcoming-task-container{
    max-width: none;
    width: 100%;
    border-left: none;
    padding: 0;
  }

  .tasks-container .task-card{
    max-width: none;
  }
}

/*============================*/
/* Modal Container */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); 
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
  transition: all 0.5s ease;
  animation: fadesIn 0.5s ease;
}

@keyframes fadesIn {
  from{opacity: 0;}
  to{opacity: 1;}
}
/* Modal Content */
.modal-content {
  background-color: rgba(0,0,0, 0.5); 
  border-radius: 10px; 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
  color: #fff;
  width: 60%;
}

/* Modal Header */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
}

/* Modal Title */
.modal-title {
  margin: 0;
}

/* Close Button */
.close-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #fff;
}

/* Modal Body */
.modal-body {
  min-height: 100px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.modal-body h2{
  padding: 5px;
  margin-bottom: 5px;
  font-weight: bolder;
}

.modal-body p{
  padding: 5px;
}

.modal-body button {
  align-self: flex-end;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: transparent; 
  border: 1px solid rgba(255, 255, 255, 0.3); 
  border-radius: 20px;
  color: #eee; /* Text color */
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.modal-body button:hover {
  background-color: rgba(255, 255, 255, 0.2); 
  border: 1px solid rgba(255, 255, 255, 0.5); 
  color: #fff; 
}


@media screen and (max-width:768px) {
  .modal-content {
    width: 95%;
  }

  .modal-title {
    font-size: 22px;
  }

  .modal-body {
    font-size: 13px;
  }
}

/*===============================*/
.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999; 
}
/* Main Loader */
.loader {
  position: relative;
  width: 180px;
  height: 180px;
  overflow: hidden;
  border-radius: 50%;
  animation: circleAnimation 1s linear infinite;
}

.loader::before,
.loader::after {
  content: "";
  position: absolute;
}

/* Glassmorphism */
.loader::before {
  inset: 10px;
  background: rgba(233, 30, 99, 0.05);
  border-radius: 50%;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 1;
}

/* animated Circle */
.loader::after {
  top: -50%;
  left: -50%;
  width: 100%;
  height: 100%;
  background: #ff6198;
}

@keyframes circleAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* CSS for glassmorphic notification design */
#notification-container {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 999;
}

.notification {
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px); 
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 10px;
  width: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
  transition: all 0.5 ease;
  color: #fff;
  display: flex;
  align-items: center;
}

.notification.display{
  animation: notifyIn 01s ease-in-out forwards; 
}

@keyframes notifyIn {
  from{opacity: 0;transform: translateY(-200px);}
  to{opacity: 1;transform: translateY(0px);}
}

.notification.disappear{
  animation: notifyOut 01s ease-in-out forwards; 
}

@keyframes notifyOut {
  from{opacity: 1;transform: translateY(0px);}
  to{opacity: 0;transform: translateY(-200px);}
}

.notification .notification-icon-container{
  width: 50px;
  font-size: 45px;
}

@keyframes bshake {
  0% { transform: rotate(0); }
  4% { transform: rotate(8deg); }
  8% { transform: rotate(-8deg); }
  12% { transform: rotate(8deg); }
  16% { transform: rotate(-8deg); }
  20% { transform: rotate(0); }
  100% { transform: rotate(0); }
}


.notification-icon-container span i{
  animation: bshake 1s ease-in-out infinite; 
  position: relative;
}


.notification .notification-content{
  flex: 1;
}

.notification h3 {
  margin-bottom: 5px;
  font-size: 18px;
  text-transform: capitalize;
}

.notification p {
  font-size: 12px;
  color: #f7f4f4;
}

@media screen and (max-width: 768px) {
  #notification-container {
    position: fixed;
    top: 20px;
    left: 0%;
    transform: translateX(0%);
    width: 100%;
  }
}